#root{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.blog-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-a-cmnt{
  margin-top: 10px;
}